@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');


body{
  font-family: 'Crimson Text', serif;
  background-color: #111013;
  color: #F5EFDF;
  font-weight: 500;
}
